body{
    background-image:url(/static/light.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
     }
    
     .modalcard{
      background-color:rgba(37, 36, 34, 0.925);
      color:white;
      border:none;
      font-style: italic;
      }